{% extends "base.html" %}





{% block title %}Carpool - Detail{% endblock %}
{% block page_content %}



    <div class="page-header">
        <h1>Car sharing group</h1>


    </div>





    <div class="myDiv">
        <div class="detail">
            <p><strong>起点：</strong>{{ group.start_location.name }}</p>
            <p><strong>终点：</strong>{{ group.end_location.name }}</p>
            <p><strong>出发时间：</strong>{{ moment(group.start_time).format('LLL') }}</p>
            <p><strong>当前人数：</strong>{{ group.users.count() }}</p>
            <p><strong>期望人数：</strong>{{ group.max_people_amount }}</p>
            <p><strong>发布时间：</strong>{{ moment(group.timestamp).format('LLL') }}</p>

        </div>
        <div class="myBtn">

            {% if not current_user in group.users %}
                {% if group.users.count() < group.max_people_amount %}

                    <a href="{{ url_for('main.join', group_id= group.id) }}">
                        <button type="button" class="btn btn-primary">Join</button>
                    </a>
                {% endif %}





            {% else %}

                <a href="{{ url_for('main.quit', group_id = group.id) }}">
                    <button type="button" class="btn btn-danger">退出</button>
                </a>

            {% endif %}


        </div>
    </div>



    <p>
    <h4>备注：</h4>
    {% if group.description_html %}
        {{ group.description_html | safe }}
    {% else %}
        {{ group.description }}
    {% endif %}
    </p>
    <hr>


    <div>


        <strong>Member：</strong>
        {% for user in group.users %}

            <a href="{{ url_for('.user', username=user.username) }}">
                <img class="img-thumbnail" src="{{ user.gravatar(size=40) }}">
                {% if current_user in group.users %}
                    {{ user.username }}
                    {{ user.phone }}
                    {{ user.qq }}
                {% endif %}
            </a>

        {% endfor %}

    </div>

    <hr>





{% endblock %}

