{% extends 'admin/master.html' %}



{% block body %}






<div class="page-header">
        <h1>Car sharing group</h1>


    </div>





    <div class="myDiv">
        <div class="detail">
            <p><strong>起点：</strong>{{ activity.start_location.name }}</p>
            <p><strong>终点：</strong>{{ activity.end_location.name }}</p>
            <p><strong>出发时间：</strong>{{ moment(activity.start_time).format('LLL') }}</p>
            <p><strong>当前人数：</strong>{{ activity.users.count() }}</p>
            <p><strong>期望人数：</strong>{{ activity.max_people_amount }}</p>
            <p><strong>Contact phone：</strong>{{ activity.contact_phone }}</p>
            <p><strong>发布时间：</strong>{{ moment(activity.timestamp).format('LLL') }}</p>

        </div>

    </div>



    <p>
    <h4>备注：</h4>
    {% if activity.description_html %}
        {{ activity.description_html | safe }}
    {% else %}
        {{ activity.description }}
    {% endif %}
    </p>
    <hr>


    <div>


        <strong>Member：</strong>
        {% for user in activity.users %}

            {{ user.usrname }}
            {{ user.name }}
            {{ user.phone }}
            {{ user.qq }}
            </a>

        {% endfor %}
    </div>





{% endblock %}




